.SearchForm input:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
  
  .bg-blue-transparent {
  background-color: hsla(202, 14%, 69%, .35); 
  border: 1px solid hsl(203, 65%, 15%);
  border-radius: 0.25rem;
}

